body{
	background-color:	#000;
	background-image:	url(../images/gray.jpg);
	background-repeat:	no-repeat;
	background-size:	cover;
	background-position:	center center;
	overflow:	hidden;
}

.card{
	background:	none;
}

@-webkit-keyframes hvr-bob {
  0% {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
  }
  50% {
	-webkit-transform: translateY(-4px);
	transform: translateY(-4px);
  }
  100% {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
  }
  50% {
	-webkit-transform: translateY(-4px);
	transform: translateY(-4px);
  }
  100% {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

body{
	color: #FFF;
}

card{
	background-color: #000;
}

.chick {
	position: absolute;
	margin-top: 20px;
	margin-left: 670px;
	width: 180%;
	border: 0px solid white;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
	animation-name: animateInner;
	animation-timing-function: cubic-bezier(0,.96,0,1.03);
	animation-name: animateInner;
	animation-duration: 0.5s;
	overflow: hidden;
}

@keyframes animateInner {
  from {margin-left:670px;}
  to {margin-left:0px;}
}

.aniOne {
	animation-fill-mode: forwards;
	animation-delay: 0s;
	animation-name: animateInner;
	animation-timing-function: cubic-bezier(0,.96,0,1.03);
	animation-name: aniOne;
	animation-duration: 0.5s;
	overflow: hidden;
}

@keyframes aniOne {
  from {margin-top:50px;}
  to {margin-top:0px;}
}

@media screen and (max-width: 1250px) {		  
  .chick{
	display: none;
  }
}